<div class="parallax"></div>
<div class="container w-100">
    <div class="row w-100 mt-5">
<div class="col-md-12">
    <h1 class="text-monospace text-center" >Sejam Bem-Vindos ao meu Blog</h1>
</div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. At atque dolores cumque, sit sapiente maiores illo nulla id molestiae, consequatur quis amet reiciendis fugiat soluta repudiandae doloremque, incidunt minus rem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eius ut magni, ad quia fuga dolorem saepe tempora, iste nulla nihil eaque non ipsa temporibus magnam, quam enim harum voluptatibus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, vitae ab unde, ratione, veritatis iure temporibus labore explicabo delectus vel ullam voluptatibus aut provident necessitatibus nulla assumenda! Accusamus, at beatae?
            </p>
        </div>
    </div>

</div>

<div class="parallax"></div>
    

    <div class="row mt-5 mb-3">
        <div class="col-md-12 w-100 d-flex justify-content-center ">
            <button class="btn btn-outline-dark text-uppercase font-weifht-bold">Ver o Feed</button>
        </div>
    </div>
