<div class="card border-0" style="width: 18rem;">
   <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://apkplz.net/storage/images/com/locs/a4Andrevilao/com.locs.a4Andrevilao_1.png" alt="O tal do Lucas"> 
   </div>
   
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">O tal do Lucas</h5>
      <p class="card-text">ahhhhhhhhhhhhhhhhhhhhh</p>
     
      <a href="https://www.linkedin.com/in/lucas-silva-7660a71b8/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">Linkedin</a>
      <a href="https://github.com/Lucas17072001" target="_blank"  class="btn btn-outline-dark mb-3 d-flex justify-content-center "> GitHub</a>
    </div>
  </div>